*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
}
.reloj{
    width: 600px;   
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./../img/reloj.png");
    background-size: cover;
    border: 0.3rem solid rgb(27, 133, 226);
    border-radius: 50vh;
    box-shadow: inset 0px 0px 20px 5px rgb(27, 133, 226);
}

.reloj::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(27, 133, 226);
    border-radius: 50vh;
    z-index: 10000;
}
.hora{
    width: 140px;
    height: 140px;
}
.hora::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 90px;
    background: beige;
    border-radius: 50vh;
    z-index: 10;    
}
.minuto{
    width: 220px;
    height: 220px;
}
.minuto::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 130px;
    background: rgb(27, 133, 226);
    border-radius: 50vh;
    z-index: 11; 
}
.segundo{
    width: 250px;
    height: 250px;
}
.segundo::before{
    content: '';
    position: absolute;
    width: 1.8px;
    height: 150px;
    background: rgb(27, 226, 299);
    border-radius: 50vh;
    z-index: 12; 
}
.hora, .minuto, .segundo{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50vh;
}
.relojD{
    font-family: "Consolas",monospace;
    font-size: 2.5rem;
    color: rgb(98, 98, 98);
    margin-top: -200px;
}